<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_connect_voicetel"
              name="VoiceTel"
              parent="connect.menu_connect_root"
              sequence="50"/>

    <menuitem id="menu_voicetel_messages"
              name="Messages"
              parent="menu_connect_voicetel"
              action="connect.action_connect_message"
              sequence="70"/>

    <menuitem id="menu_voicetel_config"
              name="Configuration"
              parent="menu_connect_voicetel"
              groups="connect.group_admin"
              sequence="100"/>
</odoo>
