<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="settings_form_audio" model="ir.ui.view">
        <field name="name">connect.settings.form.audio</field>
        <field name="model">connect.settings</field>
        <field name="inherit_id" ref="connect.connect_settings_form"/>
        <field name="arch" type="xml">
            <xpath expr="//page[@name='general']" position="after">
                <page name="audio" string="Audio">
                    <group>
                        <group string="Voice">
                            <field name="default_twilio_voice"
                                   options="{'no_create': True}"/>
                        </group>
                        <group string="Hold Music">
                            <field name="park_hold_music_audio_id"
                                   domain="[('state', 'in', ('reviewed', 'live')), ('source', 'in', ('external_url', 'attachment', 'record'))]"
                                   options="{'no_create': True}"/>
                            <field name="park_hold_music_audio_id_source" invisible="1"/>
                        </group>
                        <group string="Voicemail">
                            <field name="voicemail_max_length"/>
                            <field name="voicemail_finish_key"/>
                        </group>
                        <group string="Call Park">
                            <field name="park_slot_count"/>
                            <field name="park_timeout"/>
                            <field name="park_announcement_enabled"/>
                        </group>
                    </group>
                </page>
            </xpath>
        </field>
    </record>

</odoo>
