// Phone Tray Component
.connect-tray {
  .hang-up-popup {
    height: 36px !important;
    position: absolute !important;
    top: 48px;
    border: none;
    border-radius: 50%;
    background: transparent;

    &:hover {
      cursor: pointer;
    }

    i {
      color: var(--Phone-bg);
      background: var(--Phone-call-reject) !important;
      font-size: x-large;
      border-radius: 50%;
      padding: 5px;
    }
  }

  .toggle-phone {
    padding: 0 5px !important;

    i {
      height: 30px;
      width: 30px;
      font-size: large;
      border-radius: 30%;

      &::before {
        margin-top: 5px;
        display: block;
      }
    }
  }
}
